
html.

nav {
    margin-top: 40px;
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: #3fa46a;
}


h1, a {
    font-family: 'IBM Plex Sans', sans-serif;
}

.robofont {
    font-family: 'Roboto', sans-serif;
}

 nav a {
    transition: 0.3s ease;
    color: black;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}
.selectedLink
{
    font-weight: bold;
}

nav a:hover {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding: 6px 0;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in-text {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
div.slide-up {
    height: 200px;
}

    div.slide-up p {
        animation: 2s slide-up;
        margin-top: 0%;
    }

@keyframes slide-up {
    from {
        margin-top: 100%;
        height: 300%;
    }

    to {
        margin-top: 0%;
        height: 100%;
    }
}