
nav {
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.page-header
{
    margin-top: 15%;
}


p, label, h1 {
    color: black;
}

h1, a {
    font-family: 'IBM Plex Sans', sans-serif;
}

.navbarBrandFont 
{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.robofont {
    font-family: 'Roboto', sans-serif;
}

 nav a {
    transition: 0.3s ease;
    color: black;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}
.selectedLink
{
    font-weight: bold;
}

nav a:hover {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding: 6px 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.fade-in-text {
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div.slide-up {
    height: 200px;
}

body
{
    overflow-y: scroll;
    z-index: -1;
}
    

.form-horizontal {
    margin-left: 25%;
    margin-right: 25%;
}

/*footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
  }*/
  .footer {

    height:24px; 
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;

}   

.footer_contents {

    height:24px; 
    margin:auto;

}

.navMenu
{
    width: 100%;
    top: 0%;
    position: fixed;
    overflow: hidden;
    background-color: white;
}
